// Navbar
- var joinedDate = user.created_at ? new Date(user.created_at).toLocaleDateString('id-ID', { day: 'numeric', month: 'long', year: 'numeric' }) : '-'
nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
    // Kiri: tombol toggle sidebar
    ul.navbar-nav
        li.nav-item
            a.nav-link(data-widget="pushmenu" href="#" role="button")
                i.fas.fa-bars

    // Kanan: menu profil pengguna
    ul.navbar-nav.ml-auto
        li.nav-item.dropdown
            a.nav-link(data-toggle="dropdown" href="#")
                i.far.fa-user.mr-1
                span.d-none.d-md-inline #{user.name}
                i.fas.fa-angle-down.ml-1
            .dropdown-menu.dropdown-menu-right(style="width: 320px")
                span.dropdown-item-text.dropdown-header.text-center.border-0
                    i.fas.fa-user-circle.fa-3x.d-block.mb-2.text-primary
                    strong.d-block.text-dark #{user.name}
                    span.badge.badge-info.mt-1 #{user.role}
                .dropdown-divider
                .dropdown-item-text(style="white-space: normal;")
                    i.fas.fa-envelope.mr-2.text-muted
                    | #{user.email}
                .dropdown-item-text(style="white-space: normal;")
                    i.fas.fa-calendar-alt.mr-2.text-muted
                    | Bergabung sejak #{joinedDate}
                .dropdown-item-text(style="white-space: normal;")
                    i.fas.fa-id-badge.mr-2.text-muted
                    | ID Pengguna: #{user.id}
                .dropdown-divider
                button.dropdown-item(type="button" data-toggle="modal" data-target="#modal-change-password")
                    i.fas.fa-key.mr-2.text-secondary
                    | Ubah Password
                .dropdown-divider
                a.dropdown-item.text-danger(href="/logout")
                    i.fas.fa-sign-out-alt.mr-2
                    | Logout

// Modal Ubah Password
.modal.fade#modal-change-password(tabindex="-1" role="dialog" aria-hidden="true")
    .modal-dialog.modal-dialog-centered
        .modal-content
            .modal-header.bg-primary
                h5.modal-title
                    i.fas.fa-key.mr-2
                    | Ubah Password
                button.close.text-white(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
            form(action="/change-password" method="POST")
                .modal-body
                    .form-group
                        label(for="old_password") Password Lama
                        input#old_password.form-control(type="password" name="old_password" required placeholder="Masukkan password lama")
                    .form-group
                        label(for="new_password") Password Baru
                        input#new_password.form-control(type="password" name="new_password" required minlength="6" placeholder="Minimal 6 karakter")
                    .form-group.mb-2
                        label(for="confirm_password") Konfirmasi Password Baru
                        input#confirm_password.form-control(type="password" name="confirm_password" required minlength="6" placeholder="Ulangi password baru")
                    small.text-muted
                        i.fas.fa-shield-alt.mr-1
                        | Demi keamanan, password lama wajib dimasukkan kembali.
                .modal-footer.justify-content-between
                    button.btn.btn-default(type="button" data-dismiss="modal") Batal
                    button.btn.btn-primary(type="submit")
                        i.fas.fa-save.mr-1
                        | Simpan Password
