extends ../layouts/master

block content
    .content-header
        .container-fluid
            .row.mb-2
                .col-sm-6
                    h1 Edit Draft Pengadaan

    .content
        .container-fluid
            .card.card-warning
                .card-header
                    h3.card-title Form Edit Draft Pengadaan

                form(action=`/kalab/procurement-drafts/edit/${draft.id}` method="POST")
                    .card-body
                        .row.mb-4
                            .col-md-6
                                .form-group
                                    label Kepala Laboratorium (Pembuat)
                                    input.form-control(type="text" value=draft.kalab_name readonly)
                            .col-md-6
                                .form-group
                                    label Tahun Pengadaan
                                    input.form-control(type="text" value=draft.year readonly)

                        - let regularItems = items.filter(item => !item.target_replacement_asset_id)
                        - let replacementItems = items.filter(item => item.target_replacement_asset_id)

                        // SECTION 1: BARANG BARU
                        h5.border-bottom.pb-2.mb-3 1. Pengadaan Barang Baru
                        .table-responsive.mb-4
                            table#items-table-regular.table.table-bordered.table-striped
                                thead
                                    tr
                                        th Jenis Barang
                                        th Nama Barang
                                        th Harga Satuan (Rp)
                                        th Jumlah (Qty)
                                        th Link Pembelian
                                        th Aksi
                                tbody
                                    if regularItems.length === 0
                                        tr
                                            td(style="min-width: 150px;")
                                                select.form-control(name="item_type" required)
                                                    option(value="Inventaris") Inventaris
                                                    option(value="BHP") BHP
                                            td
                                                input.form-control(type="text" name="item_name" placeholder="Nama barang" required)
                                            td(style="min-width: 150px;")
                                                input.form-control(type="number" name="price" placeholder="Harga" min="0" required)
                                            td(style="min-width: 90px;")
                                                input.form-control(type="number" name="quantity" placeholder="Qty" min="1" required)
                                            td
                                                input.form-control(type="url" name="purchase_link" placeholder="https://...")
                                                input(type="hidden" name="target_replacement_asset_id" value="")
                                            td
                                                button.btn.btn-danger.btn-sm.remove-row-btn(type="button")
                                                    i.fas.fa-trash
                                                    |  Hapus
                                    else
                                        each item in regularItems
                                            tr
                                                td(style="min-width: 150px;")
                                                    select.form-control(name="item_type" required)
                                                        option(value="Inventaris" selected=(item.item_type === 'Inventaris')) Inventaris
                                                        option(value="BHP" selected=(item.item_type === 'BHP')) BHP
                                                td
                                                    input.form-control(type="text" name="item_name" value=item.item_name placeholder="Nama barang" required)
                                                td(style="min-width: 150px;")
                                                    input.form-control(type="number" name="price" value=Math.round(item.price) placeholder="Harga" min="0" required)
                                                td(style="min-width: 90px;")
                                                    input.form-control(type="number" name="quantity" value=item.quantity placeholder="Qty" min="1" required)
                                                td
                                                    input.form-control(type="url" name="purchase_link" value=item.purchase_link placeholder="https://...")
                                                    input(type="hidden" name="target_replacement_asset_id" value="")
                                                td
                                                    button.btn.btn-danger.btn-sm.remove-row-btn(type="button")
                                                        i.fas.fa-trash
                                                        |  Hapus
                        .mb-4
                            button#add-row-regular-btn.btn.btn-success.btn-sm(type="button")
                                i.fas.fa-plus
                                |  Tambah Pengadaan Baru

                        // SECTION 2: BARANG PENGGANTI
                        h5.border-bottom.pb-2.mb-3 2. Pengadaan Barang Pengganti
                        .table-responsive.mb-4
                            table#items-table-replacement.table.table-bordered.table-striped
                                thead
                                    tr
                                        th Jenis Barang
                                        th Nama Barang
                                        th Harga Satuan (Rp)
                                        th Jumlah (Qty)
                                        th Link Pembelian
                                        th Aset yang Diganti (Wajib)
                                        th Aksi
                                tbody
                                    each item in replacementItems
                                        tr
                                            td(style="min-width: 150px;")
                                                select.form-control(name="item_type" required)
                                                    option(value="Inventaris" selected=(item.item_type === 'Inventaris')) Inventaris
                                                    option(value="BHP" selected=(item.item_type === 'BHP')) BHP
                                            td
                                                input.form-control(type="text" name="item_name" value=item.item_name placeholder="Nama barang" required)
                                            td(style="min-width: 150px;")
                                                input.form-control(type="number" name="price" value=Math.round(item.price) placeholder="Harga" min="0" required)
                                            td(style="min-width: 90px;")
                                                input.form-control(type="number" name="quantity" value="1" readonly required)
                                            td
                                                input.form-control(type="url" name="purchase_link" value=item.purchase_link placeholder="https://...")
                                            td(style="min-width: 200px;")
                                                select.form-control(name="target_replacement_asset_id" required)
                                                    option(value="") -- Pilih Aset yang Diganti --
                                                    each asset in assets
                                                        option(value=asset.id selected=(item.target_replacement_asset_id === asset.id)) #{asset.item_name} (#{asset.label_code || 'No Label'})
                                            td
                                                button.btn.btn-danger.btn-sm.remove-row-btn(type="button")
                                                    i.fas.fa-trash
                                                    |  Hapus

                        .mb-4
                            button#add-row-replacement-btn.btn.btn-info.btn-sm(type="button")
                                i.fas.fa-plus
                                |  Tambah Barang Pengganti

                    .card-footer
                        a.btn.btn-default(href="/kalab/procurement-drafts") Batal
                        button.btn.btn-primary.float-right(type="submit") Simpan Perubahan

    // Row Templates
    template#row-template-regular
        tr
            td(style="min-width: 150px;")
                select.form-control(name="item_type" required)
                    option(value="Inventaris") Inventaris
                    option(value="BHP") BHP
            td
                input.form-control(type="text" name="item_name" placeholder="Nama barang" required)
            td(style="min-width: 150px;")
                input.form-control(type="number" name="price" placeholder="Harga" min="0" required)
            td(style="min-width: 90px;")
                input.form-control(type="number" name="quantity" placeholder="Qty" min="1" required)
            td
                input.form-control(type="url" name="purchase_link" placeholder="https://...")
                input(type="hidden" name="target_replacement_asset_id" value="")
            td
                button.btn.btn-danger.btn-sm.remove-row-btn(type="button")
                    i.fas.fa-trash
                    |  Hapus

    template#row-template-replacement
        tr
            td(style="min-width: 150px;")
                select.form-control(name="item_type" required)
                    option(value="Inventaris") Inventaris
                    option(value="BHP") BHP
            td
                input.form-control(type="text" name="item_name" placeholder="Nama barang" required)
            td(style="min-width: 150px;")
                input.form-control(type="number" name="price" placeholder="Harga" min="0" required)
            td(style="min-width: 90px;")
                input.form-control(type="number" name="quantity" value="1" readonly required)
            td
                input.form-control(type="url" name="purchase_link" placeholder="https://...")
            td(style="min-width: 200px;")
                select.form-control(name="target_replacement_asset_id" required)
                    option(value="") -- Pilih Aset yang Diganti --
                    each asset in assets
                        option(value=asset.id) #{asset.item_name} (#{asset.label_code || 'No Label'})
            td
                button.btn.btn-danger.btn-sm.remove-row-btn(type="button")
                    i.fas.fa-trash
                    |  Hapus

    script.
        document.addEventListener('DOMContentLoaded', function() {
            const regularTbody = document.querySelector('#items-table-regular tbody');
            const replacementTbody = document.querySelector('#items-table-replacement tbody');
            const addRegularBtn = document.querySelector('#add-row-regular-btn');
            const addReplacementBtn = document.querySelector('#add-row-replacement-btn');
            const regularTemplate = document.querySelector('#row-template-regular');
            const replacementTemplate = document.querySelector('#row-template-replacement');

            // Function to bind remove event
            function bindRemoveEvent(btn) {
                btn.addEventListener('click', function() {
                    const totalRows = regularTbody.querySelectorAll('tr').length + replacementTbody.querySelectorAll('tr').length;
                    if (totalRows > 1) {
                        btn.closest('tr').remove();
                    } else {
                        alert('Minimal harus ada 1 barang yang diajukan.');
                    }
                });
            }

            // Bind for all initial rows
            const initialRemoveBtns = document.querySelectorAll('.remove-row-btn');
            initialRemoveBtns.forEach(btn => {
                bindRemoveEvent(btn);
            });

            // Add regular row
            addRegularBtn.addEventListener('click', function() {
                const clone = regularTemplate.content.cloneNode(true);
                const row = clone.querySelector('tr');
                bindRemoveEvent(row.querySelector('.remove-row-btn'));
                regularTbody.appendChild(clone);
            });

            // Add replacement row
            addReplacementBtn.addEventListener('click', function() {
                const clone = replacementTemplate.content.cloneNode(true);
                const row = clone.querySelector('tr');
                bindRemoveEvent(row.querySelector('.remove-row-btn'));
                replacementTbody.appendChild(clone);
            });
        });
