extends ../layouts/master

block content
    .content-header
        .container-fluid
            .row.mb-2
                .col-sm-6
                    h1 Draft Pengadaan

    .content
        .container-fluid
            .card
                .card-header
                    h3.card-title Daftar Draft Pengadaan

                .card-body
                    form.row.mb-3(method="GET" action="/kaprodi/procurement-review")
                        .col-md-2
                            select.form-control.form-control-sm(name="year" onchange="this.form.submit()")
                                option(value="" selected=(!selectedYear)) Semua Tahun
                                each year in years
                                    option(value=year selected=(selectedYear == year))= year
                        .col-md-2
                            select.form-control.form-control-sm(name="status" onchange="this.form.submit()")
                                option(value="" selected=(!selectedStatus)) Semua Status
                                option(value="Draft" selected=(selectedStatus == 'Draft')) Draft
                                option(value="Locked" selected=(selectedStatus == 'Locked')) Locked
                        .col-md-3
                            select.form-control.form-control-sm(name="action" onchange="this.form.submit()")
                                option(value="" selected=(!selectedAction)) Semua Aksi
                                option(value="reviewable" selected=(selectedAction == 'reviewable')) Bisa Direview
                                option(value="final" selected=(selectedAction == 'final')) Sudah Final
                        .col-md-2
                            select.form-control.form-control-sm(name="sort" onchange="this.form.submit()")
                                option(value="" selected=(!selectedSort)) Urutkan
                                option(value="abjad" selected=(selectedSort == 'abjad')) Abjad (A-Z)
                                option(value="recent" selected=(selectedSort == 'recent')) Terbaru
                        .col-md-3
                            a.btn.btn-secondary.btn-sm.btn-block(href="/kaprodi/procurement-review")
                                i.fas.fa-undo
                                |  Reset Filter

                    table.table.table-bordered.table-striped
                        thead.bg-primary
                            tr
                                th No
                                th Tahun
                                th Kepala Laboratorium
                                th Status
                                th Tanggal Dibuat
                                th Aksi

                        tbody
                            each draft, index in drafts
                                tr
                                    td= index + 1
                                    td= draft.year
                                    td= draft.kalab_name
                                    td
                                        if draft.status == 'Draft'
                                            span.badge.badge-warning Draft
                                        else if draft.status == 'Reviewed'
                                            span.badge.badge-info Reviewed
                                        else if draft.status == 'Locked'
                                            span.badge.badge-success Locked

                                    td= new Date(draft.created_at).toLocaleDateString('id-ID')

                                    td
                                        a.btn.btn-primary.btn-sm(href=`/kaprodi/procurement-review/edit/${draft.id}`)
                                            i.fas.fa-eye
                                            |  Review

                                        if draft.status != 'Locked'
                                            span.badge.badge-warning.ml-2 Bisa Direview
                                        else
                                            span.badge.badge-secondary.ml-2 Sudah Final