extends ../layouts/master

block content
    .content-header
        .container-fluid
            .row.mb-2
                .col-sm-6
                    h1 Data Pengguna

    .content
        .container-fluid
            .card
                .card-header
                    h3.card-title Daftar Pengguna Sistem
                    .card-tools
                        a.btn.btn-primary.btn-sm(href="/admin/users/create")
                            i.fas.fa-plus
                            |  Tambah Pengguna
                .card-body
                    table.table.table-bordered
                        thead
                            tr
                                th No.
                                th Nama
                                th Email
                                th Role
                                th Status
                                th Aksi
                        tbody
                            each u, index in users
                                tr
                                    td= index + 1
                                    td= u.name
                                    td= u.email
                                    td= u.role
                                    td
                                        if u.is_active == 1
                                            span.badge.badge-success Aktif
                                        else
                                            span.badge.badge-danger Nonaktif
                                    td
                                        a.btn.btn-sm.btn-warning(href=`/admin/users/edit/${u.id}`) Edit
                                        form(action=`/admin/users/delete/${u.id}` method="POST" style="display:inline;")
                                            button.btn.btn-sm.btn-danger.ml-1(type="submit" onclick="return confirm('Yakin ingin menghapus pengguna ini?');") Hapus