extends ../layouts/master

block content
    .content-header
        .container-fluid
            .row.mb-2
                .col-sm-6
                    h1 Review Draft Pengadaan

    .content
        .container-fluid
            .card
                .card-header
                    h3.card-title Detail Draft Pengadaan

                .card-body

                    .row.mb-3
                        .col-md-4
                            strong Tahun:
                            p= draft.year

                        .col-md-4
                            strong Kepala Laboratorium:
                            p= draft.kalab_name

                        .col-md-4
                            strong Status Draft:

                            if draft.status === 'Locked'
                                span.badge.badge-success Locked
                            else
                                span.badge.badge-warning Draft

                    form(
                        action=`/kaprodi/procurement-drafts/${draft.id}/finalize`
                        method='POST'
                    )
                        table.table.table-bordered.table-striped

                            thead
                                tr
                                    th ID
                                    th No
                                    th Nama Barang
                                    th Jenis
                                    th Harga
                                    th Qty
                                    th Link Pembelian
                                    th Status Persetujuan

                            tbody
                                each item, index in items

                                    tr
                                        td= item.id

                                        td= index + 1

                                        td= item.item_name

                                        td= item.item_type

                                        td
                                            | Rp.
                                            = Number(item.price).toLocaleString('id-ID')

                                        td= item.quantity

                                        td
                                            if item.purchase_link
                                                a(
                                                    href=item.purchase_link
                                                    target='_blank'
                                                ) Lihat Link
                                            else
                                                span.text-muted Tidak ada link

                                        td

                                            if draft.status === 'Locked'

                                                if item.status === 'Disetujui'
                                                    span.badge.badge-success Disetujui

                                                else if item.status === 'Ditolak'
                                                    span.badge.badge-danger Ditolak

                                                else
                                                    span.badge.badge-secondary Pending

                                            else

                                                input(
                                                    type='hidden'
                                                    name='item_ids[]'
                                                    value=item.id
                                                )

                                                select.form-control(name='statuses[]')

                                                    option(
                                                        value='Pending'
                                                        selected=(item.status === 'Pending')
                                                    ) Pending

                                                    option(
                                                        value='Disetujui'
                                                        selected=(item.status === 'Disetujui')
                                                    ) Disetujui

                                                    option(
                                                        value='Ditolak'
                                                        selected=(item.status === 'Ditolak')
                                                    ) Ditolak

                        if draft.status !== 'Locked'
                            .mt-3
                                button.btn.btn-success(type='submit')
                                    i.fas.fa-lock
                                    |  Finalisasi Draft

                        else
                            .alert.alert-success.mt-3
                                i.fas.fa-check-circle
                                |  Draft sudah difinalisasi dan tidak dapat diubah lagi.