extends ../layouts/master

block content
    .content-header
        .container-fluid
            .row.mb-2
                .col-sm-6
                    h1 Data Barang Habis Pakai (BHP)

    .content
        .container-fluid
            .card
                .card-header
                    h3.card-title Daftar Stok BHP GWT 8
                    if user.role === 'Staf Laboratorium'
                        .card-tools
                            button.btn.btn-primary.btn-sm(data-toggle="modal" data-target="#modal-tambah")
                                i.fas.fa-plus
                                |  Tambah BHP
                .card-body
                    - var filterAction = '/staflab/consumables'
                    if user.role === 'Kepala Laboratorium'
                        - filterAction = '/kalab/consumables'
                    else if user.role === 'Ketua Program Studi'
                        - filterAction = '/kaprodi/consumables'
                    else if user.role === 'Staf Administrasi'
                        - filterAction = '/stafadmin/consumables'
                    form.row.mb-3(method="GET" action=filterAction)
                        .col-md-3
                            select.form-control.form-control-sm(name="sort" onchange="this.form.submit()")
                                option(value="" selected=(!selectedSort)) Urutkan
                                option(value="abjad" selected=(selectedSort == 'abjad')) Abjad (A-Z)
                                option(value="recent" selected=(selectedSort == 'recent')) Terbaru
                        .col-md-3
                            a.btn.btn-secondary.btn-sm.btn-block(href=filterAction)
                                i.fas.fa-undo
                                |  Reset Filter

                    table.table.table-bordered
                        thead.bg-primary
                            tr
                                th No.
                                th Nama Barang
                                th Stok Tersedia
                                th Satuan (Unit)
                                th Aksi
                        tbody
                            each c, index in consumables
                                tr
                                    td= index + 1
                                    td= c.item_name
                                    td= c.stock
                                    td= c.unit
                                    td
                                        if user.role === 'Staf Laboratorium'
                                            button.btn.btn-sm.btn-warning(data-toggle="modal" data-target=`#modal-edit-${c.id}`) Edit
                                            form(action=`/staflab/consumables/delete/${c.id}` method="POST" style="display:inline;")
                                                button.btn.btn-sm.btn-danger.ml-1(type="submit" onclick="return confirm('Yakin ingin menghapus item BHP ini?');") Hapus
                                        else
                                            span.text-muted -

                                if user.role === 'Staf Laboratorium'
                                    // MODAL EDIT BHP
                                    .modal.fade(id=`modal-edit-${c.id}`)
                                        .modal-dialog
                                            .modal-content
                                                .modal-header
                                                    h4.modal-title Edit BHP
                                                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                                                        span(aria-hidden="true") &times;
                                                form(action=`/staflab/consumables/edit/${c.id}` method="POST")
                                                    .modal-body
                                                        .form-group
                                                            label Nama Barang
                                                            input.form-control(type="text" name="item_name" value=c.item_name required)
                                                        .form-group
                                                            label Stok Saat Ini
                                                            input.form-control(type="number" name="stock" value=c.stock required)
                                                        .form-group
                                                            label Satuan (Pcs, Roll, Botol, dll)
                                                            input.form-control(type="text" name="unit" value=c.unit required)
                                                    .modal-footer.justify-content-between
                                                        button.btn.btn-default(type="button" data-dismiss="modal") Batal
                                                        button.btn.btn-primary(type="submit") Simpan Perubahan

            if user.role === 'Staf Laboratorium'
                // MODAL TAMBAH BHP
                .modal.fade#modal-tambah
                    .modal-dialog
                        .modal-content
                            .modal-header
                                h4.modal-title Tambah BHP Baru
                                button.close(type="button" data-dismiss="modal" aria-label="Close")
                                    span(aria-hidden="true") &times;
                            form(action="/staflab/consumables/add" method="POST")
                                .modal-body
                                    .form-group
                                        label Nama Barang
                                        input.form-control(type="text" name="item_name" placeholder="Misal: Tinta Printer Epson" required)
                                    .form-group
                                        label Stok Awal
                                        input.form-control(type="number" name="stock" placeholder="0" required)
                                    .form-group
                                        label Satuan
                                        input.form-control(type="text" name="unit" placeholder="Misal: Botol" required)
                                .modal-footer.justify-content-between
                                    button.btn.btn-default(type="button" data-dismiss="modal") Batal
                                    button.btn.btn-primary(type="submit") Simpan BHP