extends ../layouts/master

block content
    .content-header
        .container-fluid
            .row.mb-2
                .col-sm-6
                    h1 Data Inventaris Laboratorium

    .content
        .container-fluid
            .card
                .card-header
                    h3.card-title Daftar Aset GWT 8
                    .card-tools
                        a.btn.btn-primary.btn-sm(href="/stafadmin/assets/create")
                            i.fas.fa-plus
                            |  Tambah Aset
                .card-body
                    table.table.table-bordered
                        thead
                            tr
                                th No.
                                th Kode Label
                                th QR Code
                                th Nama Barang
                                th Lokasi Ruangan
                                th Kondisi
                                th Status Aktif
                                th Aksi
                        tbody
                            each a, index in assets
                                tr
                                    td= index + 1
                                    td= a.label_code
                                    td.text-center
                                        if a.qr_code_url
                                            img(src=a.qr_code_url alt=a.label_code style="width: 80px; height: 80px;")
                                        else
                                            span.text-muted -
                                    td= a.item_name
                                    td= a.room_name ? a.room_name : 'Belum Ditempatkan'
                                    td
                                        if a.condition_status == 'Baik'
                                            span.badge.badge-success Baik
                                        else if a.condition_status == 'Rusak'
                                            span.badge.badge-danger Rusak
                                        else if a.condition_status == 'Maintenance'
                                            span.badge.badge-warning Maintenance
                                        else
                                            span.badge.badge-secondary Dihapus
                                    td= a.is_active ? 'Ya' : 'Tidak'
                                    td
                                        a.btn.btn-sm.btn-warning(href=`/stafadmin/assets/edit/${a.id}`) Edit
                                        form(action=`/stafadmin/assets/delete/${a.id}` method="POST" style="display:inline;")
                                            button.btn.btn-sm.btn-danger.ml-1(type="submit" onclick="return confirm('Yakin ingin menghapus aset ini?');") Hapus